.navLink {
    text-decoration: none;
    padding: 3px 10px;
    color: lightcoral;
    margin: auto;
    text-align: center;
}

.active {
    font-weight: bold;
    color: darkgoldenrod;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navLink:hover {
    color: darkgoldenrod;
}
